<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="default" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<span class="cmdName #hide_name#">#name_display#</span> <strong class="state">#state#</strong> #unite#
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			var cmd = $('.cmd[data-cmd_id=#id#]');
			var debit = 0;
			const sizes = ['Octet', 'Ko', 'Mo', 'Go', 'To'];
			const i = Math.floor(Math.log(_options.display_value) / Math.log(1024));
			debit = parseFloat((_options.display_value / Math.pow(1024, i)).toFixed(2)) + ' ' + sizes[i];
			
			cmd.find('.state').empty().append(debit);
		}
		jeedom.cmd.update['#id#']({display_value:'#state#'});
	</script>
</div>
